body, html
	padding: 0px
	margin: 0px
	background-color:#25212b
	color:white
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
	color: #00B7FF
	text-decoration: none

p
	margin: 0px
 
// Home
.navbar
	background-color:white
	min-height:75px
.banner
	width:100%
	position: static
	
