.home.main_container
	.navbar
		.logo 
			p(style="color:black;") Squad
				span(style="color:red") Meet
	.hero
		img.banner(src="teenagers.jpg")
		a(href="#") Squad Up
	a(href="/rka8zJJu") Go to a room
	br
	a(href="#") Create a room