.room.main_container
	.left
		.info_container
			.name_container
				div {{room.name}}
			.description_container
				div {{room.description}}
			.meta_container
				div Created by {{room.creator.details.nickname}} on {{room.created}}
		.dates_container
	.right
		.squad_container
			.squad_member